<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base title{% endblock %}</title>
    <base href="/markiem1/shortener">
    {% block css %}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    {% include 'partial/navbar.html' %}
    <div class="row"><div class="col-md-12"><h1>{{ self.title() }}</h1></div></div>
    {% block content %}
    {% endblock %}
</div>
{% block javascript %}
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>