{% extends '_base.html' %}

{% block content %}
<h1>Not found</h1>
<p>The page you were looking for was not found in the app. Try looking at the <a href="{{ url_for('homepage') }}">homepage</a></p>
{% endblock %}