{% extends '_base.html' %}

{% block title %}List of shortn'ed links{% endblock %}

{% block content %}
    <div class="col-md-9">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><b>Shortn</b></td>
                <td><b>Redirects to</b></td>
            </tr>
            </thead>
            <tbody>
            {% for value in links %}
                <tr>
                    <td><a href="{{ url_for('redirection',href=value) }}">{{ value }}</a></td>
                    <td>{{ links[value] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        {% include 'partial/add_form.html' %}
    </div>
{% endblock %}