{% extends '_base.html' %}
{% block title %}Login to Shortner{% endblock %}
{% block content %}
<div class="container">
    <form class="form" method="post">
        <input title="Username" type="text" name="username">
        <input title="Password" type="password" name="password">
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}