<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Add new URL</h3></div>
    <div class="panel-body">
        <form class="form" method="post" action="{{ url_for('shorten') }}">
            <input class="form-control" placeholder="Put the url here" type="url" name="href"
                   style="margin-bottom: 15px;">
            <input class="btn btn-primary" type="submit" value="Shortn!">
        </form>
    </div>
</div>