{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Shortner</a>
            </div>

            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li {% if url_active('homepage') %}class="active"{% endif %}>
                        <a href="{{ url_for('homepage') }}">Homepage</a>
                    </li>
                    {% if logged_in() %}
                        <li>
                            <a href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li {% if url_active('login') %}class="active"{% endif %}>
                            <a href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}